rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write to all root collections and recursive subcollections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

